.square {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    outline: none;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.square:hover {
    background-color: rgb(175, 204, 212);
    transition: .3s all ease;
}